input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="submit"],
select,
button,
textarea {
    &:focus {
        outline: none;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        background-color: none;
    }
}
input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("select-bg.png") no-repeat scroll 95% 50%;
   .form-option{
       padding: 10px;
   }
    option[selected] {
        color: $color__white;
        background-color: $color__border-input;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color_text_main !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
    -webkit-text-fill-color: $color_text_main !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @include prefixed(transition,
    background-color 5000s ease-in-out 0s);
}

textarea {
    display: block;
    width: 100%;
    font-size: 0.8em;
    padding-left: 3px;
    display: block;
}

input,
select,
textarea {
    margin: 0;
    border: none;
    vertical-align: baseline;
    font-size: 100%;
    font-weight: 400;
    @include prefixed(transition,
    all 0.25s ease);
}

// Placeholder Color
::-webkit-input-placeholder {
    color: $color__meta;
}
.widget_newsletter::-webkit-input-placeholder {
    color: #808080;
}
:-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

::-moz-placeholder {
    color: $color__meta;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $color__meta;
}

// Form Controls
.form-controller {
    font-size: 13px;
    border: 1px solid $color__border-one;
    background: $color__white;
    width: 100%;
    padding: 0.5em 1em;
    outline: none;
    &:focus {
        border-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

// Post password Form
.post-password-form {
    input[type="password"] {
        font-size: 11px;
        border: 1px solid $color__border-four;
        outline: none;
    }
    input[type="submit"] {
        padding: 11px 15px;
        position: relative;
        top: -1px;
    }
}
.comments-post {
    p {
        border-bottom: 1px solid #8c8c8c !important;
        input {
            padding: 8px 0 !important;
            font-size: 14px;
        }
    }
}


/* -----forms-------- */
.form-content {
    margin: auto;
    display: table;
    width: 100%;
    .pd-left {
        padding-left: 7px;
        @media only screen and (max-width: 991px) {
            padding-left: 15px;
        }
    }
    .pd-right {
        padding-right: 7px;
        @media only screen and (max-width: 991px) {
            padding-right: 15px;
        }
    }
    select {
        padding: 12px;
        width: 100%;
        color: #AEAEAE;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
       // background: transparent url(../images/angle.png) no-repeat scroll 95% 50%;
        background-color: #fff;
        -webkit-appearance: button;
        text-transform: capitalize;
        option {
            font-size: 14px;
            font-weight: bold;
        }
    }
    label {
        text-transform: uppercase;
        margin-bottom: 7px;
        font-size: 14px;
        display: block;
        line-height: normal;
    }
}
.form-section{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0;
    float: left;
    margin-bottom: 30px;
    padding: 10px 0;
    margin-right: 50px;
    color: #8c8c8c;
    font-size: 15px !important;
    background-color: #FAFAFA;
}
.form-text{
	color: #8c8c8c;
    font-size: 16px;
	padding: 10px 0;
	text-align: left;
}
.form-radio{
	margin: 10px 0 !important;
	color: #8c8c8c !important;
    font-size: 16px !important;
}
.form-radio-lable{
	margin: 10px 0 !important;
	color: #8c8c8c !important;
    font-size: 16px !important;
}

.form-radio-custom {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    color: #8c8c8c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .form-radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .form-radio-custom:hover input ~ .checkmark {
    background-color: $color_yellow;
  }

  /* When the radio button is checked, add a blue background */
  .form-radio-custom input:checked ~ .checkmark {
    background-color: $color_yellow;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .form-radio-custom input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .form-radio-custom .checkmark:after {
       top: 7px;
      left: 7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #FAFAFA;
  }

    @media only screen and (max-width: 620px) {
        .m-v-radio{
            width: 50%;
            float: left;
    }
  }
  .theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $color_yellow;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
  color: $color_yellow;
}

.login-form-wrap{
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
    h2 {
        font-weight: 300;
        text-align: center;
      }
    .login-form {
        padding: 0 60px;
        p {
            position: relative;
            padding: 0 !important;
            margin: 0;
            input, button {
                display: block;
                box-sizing: border-box;
                width: 100%;
                outline: none;
                height: 60px;
                border-radius: 4px;
              }
              input[type="text"],
              input[type="email"] {
                width: 100%;
                padding: 0 0 0 10px;
                margin: 0;
                color: #8a8b8e;
                border: 1px solid #c2c0ca;
                font-style: normal;
                font-size: 16px;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                position: relative;
                display: inline-block;
                background: none;
              }
              input[type="text"]:focus,
              input[type="email"]:focus {
                border-color: #3ca9e2;
              }
              input[type="text"]:focus:invalid,
              input[type="email"]:focus:invalid {
                color: #cc1e2b;
                border-color: #cc1e2b;
              }
              input[type="text"]:valid ~ .validation,
              input[type="email"]:valid ~ .validation {
                display: block;
                border-color: #0C0;
              }
              input[type="text"]:valid ~ .validation span,
              input[type="email"]:valid ~ .validation span {
                background: #0C0;
                position: absolute;
                border-radius: 6px;
              }
              input[type="text"]:valid ~ .validation span:first-child,
              input[type="email"]:valid ~ .validation span:first-child {
                top: 30px;
                left: 14px;
                width: 20px;
                height: 3px;
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
              }
              input[type="text"]:valid ~ .validation span:last-child,
              input[type="email"]:valid ~ .validation span:last-child {
                top: 35px;
                left: 8px;
                width: 11px;
                height: 3px;
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
              }
              .server-input-vilidation{
                border-color: #f00 !important;
              }
              .validation {
                display: none;
                position: absolute;
                content: " ";
                height: 60px;
                width: 30px;
                right: 15px;
                top: 0px;
              }

              button {
                width: 100%;
                border: none;
                display: block;
                background-color: $color_yellow;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                font-size: 18px;
                position: relative;
                display: inline-block;
                text-align: center;
              }
              button:hover, button:active{
                background-color: $color_yellow_hover;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
              }
              .server-vilidation{
                color: #f00;
                text-align: left;
                font-size: 1.1rem;
              }

          }
      }
      .create-account-wrap {
        background-color: #eeedf1;
        color: #8a8b8e;
        font-size: 14px;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 0 4px 4px;
      }
      a,
      a:link,
      a:visited,
      a:active {
        color: $color_yellow;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      a:focus, a:hover,
      a:link:focus,
      a:link:hover,
      a:visited:focus,
      a:visited:hover,
      a:active:focus,
      a:active:hover {
        color: $color_yellow_hover;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
}
.input-content {
	border: 1px solid#DDDDDD;
	padding:50px;
	border-radius: 10px;
	background-color: #FAFAFA;
    @media only screen and (max-width: 767px) {
        padding:10px;
    }
	h4 {
		font-size: 24px;
	    text-align: center;
	    margin-bottom: 45px;
	    font-weight: 800;
		color: #232c3b;
	}
  .mgb-30{
    margin-bottom: 30px;
    input {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #DDDDDD;
      border-radius: 0;
      // float: left;
      // margin-bottom: 30px;
      padding: 10px 0;
      margin-right: 50px;
      color:#8c8c8c;
      font-size: 15px;
      background-color: #FAFAFA;
      &:nth-of-type(3) {
        width:100%;
      }
      &:nth-of-type(2) {
        margin-right:0;
      }
      @media screen and (max-width: 990px) {
        width:100%;
      }
    }
    textarea {
      border: none;
      border-bottom: 1px solid #dddddd;
      color: #8c8c8c;
      margin-top: 50px;
      float: left;
      width: 100%;
      margin-bottom: 40px;
      font-size: 15px;
      background-color: #FAFAFA;
    }
    .subimt-button {
      margin:auto;
      display:table;
      .submit {
        padding: 15px 60px;;
          color: #fff;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 1px;
          margin: auto;
          border-radius: 5px;
          background-color: $color_yellow;
      }
    }
  }

}
.contact-valid{
  text-align: left;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
.invalid-input{
  border-bottom: 1px solid #e3342f !important;
}
.server-error{
    color: #f00;
    text-align: left;
    font-size: 1.1rem;
}

